article#about {
	div.rounded-profile-photo {
		background: url('../images/photo.jpg');
        background-size: contain;
		width: 150px;
		height: 150px;
		float: left;
		margin-bottom: $default-spacing-text;
		margin-right: $default-spacing-text;
		border-radius: 50%;
		border: 1px solid $color-black;
	}
}