$color-black: #272822;
$color-pink: #f92659;
$color-green: #a6e22c;
$color-white: #f8f8f2;
$color-cream: #f5eedb;

$maxWidth: 800px;

$default-border-radius: 10px;
$default-margin: 10px;
$default-padding: 7px;
$default-spacing-text: 15px;

$breakpoints: (
    xs: "only screen and (max-width : 480px)",
    sm: "only screen and (max-width : 768px) and (min-width: 481px)",
    md: "only screen and (max-width : 1024px) and (min-width: 769px)",
    lg: "only screen and (min-width : 1025px)"
);
